@import "tailwindcss";
.imgCarrello{
  width: 30px;
}
.popUp{
  position: fixed;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  color: black;
  transform: translate(-50%, -50%);
}
.vat{
  display: flex;
  flex-direction: column;
}