@import "tailwindcss";

.contenitore {
  margin-left: 150px;
  margin-right: 150px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.cards {
  display: flex;
  flex-direction: row;
}

.logout {
  display: flex;
  border: double orange;
  border-radius: 10px;
  margin-left: 500px;
  padding: 3px;
}
